.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

backend/target/
*.class
*.log

frontend/node_modules/
frontend/dist/
.pnpm-store/
pnpm-debug.log*

.env
.env.*
*.env
*.pem
*.key
*.p12
*.crt

**/.gcloud/
**/gcloud-config/
**/application_default_credentials.json

*.tar
*.iml

backend/src/main/resources/static/

SECRET_MANAGER.md
.gman_password
ref/
k8s/app.yaml
