name: Deploy to Cloud Run

on:
  push:
    branches:
      - main
      - develop

permissions:
  id-token: write
  contents: read

env:
  PROJECT_ID: rich-wavelet-479800-t8
  REGION: us-west1

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Authenticate GitHub Actions -> GCP securely via OIDC
      - name: GCP Auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/467902453710/locations/global/workloadIdentityPools/github-pool/providers/github-provider
          service_account: github-ci@rich-wavelet-479800-t8.iam.gserviceaccount.com

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      ################################
      # Node + pnpm (run in frontend)
      ################################

      - name: Setup PNPM
        uses: pnpm/action-setup@v2
        with:
          version: 10.17.1
          package_json_file: frontend/package.json

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: Install frontend deps
        working-directory: frontend
        run: pnpm install

      - name: Build frontend
        working-directory: frontend
        run: pnpm build

      ################################

      - name: Build Docker Image
        working-directory: backend
        run: |
          gcloud builds submit \
            --tag gcr.io/$PROJECT_ID/spring-vite-app .

      ################################

      - name: Deploy to Cloud Run
        shell: bash
        run: |
          SERVICE="spring-vite-app-prod"

          if [[ "${GITHUB_REF}" == "refs/heads/develop" ]]; then
            SERVICE="spring-vite-app-staging"
          fi

          gcloud run deploy $SERVICE \
            --image gcr.io/$PROJECT_ID/spring-vite-app \
            --region $REGION \
            --platform managed \
            --allow-unauthenticated
